@{
    ViewData["Title"] = "Home Page";
}

<h2>Home Page</h2>

<p>This project contains a few sample Middleware classes.  You may want to use a tool like <a href="https://www.getpostman.com/">Postman</a> to inspect the responses.</p>